In [1]:
import os
import pandas as pd
import datetime

In [2]:
# 读取股票代码文件
df_stock_codes = pd.read_csv('data/stock_codes.csv')
all_daily_data = pd.DataFrame()
# 遍历股票代码数据框中的每个股票代码
for stock_code in df_stock_codes['stock_codes']:
    
    file_type = 'daily'
    # 构造对应股票代码和daily表的文件名
    file_name = f'data/{file_type}_data/{stock_code}.csv'
    
    # 读取daily数据文件到数据框
    stock_data = pd.read_csv(file_name)

    all_daily_data = pd.concat([all_daily_data, stock_data])
    
daily_name = ['ts_code', 'open', 'high', 'low', 'close']
daily_data = pd.DataFrame()
all_daily_data['trade_date'] = pd.to_datetime(all_daily_data['trade_date'], format='%Y%m%d') # 将交易日期转换为日期对象
daily_data['datetime'] = all_daily_data['trade_date'] 
daily_data[daily_name] = all_daily_data[daily_name]
daily_data['volume'] = all_daily_data['vol']
daily_data['openinterest'] = 0

In [3]:
daily_data

,datetime,ts_code,open,high,low,close,volume,openinterest
0,2023-10-30,603392.SH,40.56,43.35,40.51,43.04,80791.80,0
1,2023-10-27,603392.SH,40.88,43.85,40.50,43.40,85292.16,0
2,2023-10-26,603392.SH,41.37,41.62,40.14,40.93,65413.10,0
3,2023-10-25,603392.SH,43.26,43.39,41.45,41.60,61844.37,0
4,2023-10-24,603392.SH,43.20,43.60,42.50,42.86,41085.80,0
...,...,...,...,...,...,...,...,...
499,2021-10-11,601868.SH,2.65,2.68,2.48,2.48,15460797.53,0
500,2021-10-08,601868.SH,2.99,3.04,2.72,2.75,18858247.67,0
501,2021-09-30,601868.SH,3.15,3.33,2.83,3.02,34565135.13,0
502,2021-09-29,601868.SH,2.84,3.03,2.79,3.03,11243952.31,0
503,2021-09-28,601868.SH,2.29,2.75,2.18,2.75,22866995.34,0

In [6]:
start_date = '20210131'
date_format = "%Y%m%d"
start_date = datetime.datetime.strptime(start_date, date_format)
daily_data = daily_data[(daily_data['datetime'] > start_date)]
daily_data = daily_data.sort_values(by='datetime') # 按交易日期排序数据
daily_data = daily_data.dropna(subset=['close'])
# 保存数据
file_name = f'daily_price.csv'
daily_data.to_csv(file_name, index=False)
print(f'Saved daily_price data for daily_data to {file_name}')

Saved daily_price data for daily_data to daily_price.csv

In [7]:
daily_data

,datetime,ts_code,open,high,low,close,volume,openinterest
662,2021-02-01,600763.SH,306.10,323.80,306.10,323.80,28659.29,0
662,2021-02-01,002714.SZ,91.00,97.00,89.44,96.98,535876.14,0
662,2021-02-01,600606.SH,5.38,5.44,5.34,5.41,270711.99,0
662,2021-02-01,601155.SH,43.50,45.14,42.61,44.60,206819.27,0
662,2021-02-01,600025.SH,4.45,4.50,4.41,4.49,290962.60,0
...,...,...,...,...,...,...,...,...
0,2023-10-30,601398.SH,4.75,4.76,4.66,4.69,4686115.43,0
0,2023-10-30,002410.SZ,19.33,19.37,18.25,18.74,514688.45,0
0,2023-10-30,601169.SH,4.59,4.60,4.51,4.52,703429.60,0
0,2023-10-30,688561.SH,45.22,46.66,44.91,46.52,25548.36,0
0,2023-10-30,603392.SH,40.56,43.35,40.51,43.04,80791.80,0